.preview {
    float: left;
    width: 50%;
}

.code-wrapper {
    position: relative;
    padding: 0 30px 0 45px;
}

.code {
    position: relative;
    background: #0c0c18;
    width: 100%;
    color: white;
    padding: 15px;
    font-family: "Times New Roman", Times, serif;
}

.code > pre {
    margin: 0;
    word-wrap: break-word;
    white-space: pre-line;
}
