li.item {
    display: block;
    margin-bottom: 5px;
}

li.item > table {
    width: 100%;
    min-width: 200px;
    border: none;
    border-collapse: collapse;
    table-layout: fixed;
}

.button-add, .button-remove {
    width: 50px;
    text-align: center;
    font-size: 2em;
    line-height: 2em;
    color: white;
    cursor: pointer;
}

.button-add {
    background: #8ad900;
}

.button-remove {
    background: #e22b00;
}

.button-remove.last-item {
    background: #ccc;
}

.item-text {
    background: white;
    width: 100%;
    padding: 15px;
    font-family: "Times New Roman", Times, serif;
}

li.item td > div {
    word-wrap: break-word;
    white-space: pre-line;
}